<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<% @authors.each do |author| %>
  <p>
    <%= author.username %>
    <%= link_to 'Delete', author, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<br>

<%= link_to 'Create New Author', new_author_path %>
